html, body {
  height: 100%;
  width: 100%;
  /* uses image from Google Images to make a background for the site */
  background-image: url(https://www.gannett-cdn.com/-mm-/1f2715a8e845d0608c5d7da94e514ee33e97f41c/c=8-0-1908-1071/local/-/media/USATODAY/USATODAY/2014/09/10/1410375973000-minecraft.jpg)
}
button {
  background-color: white;
  height: 60px;
  width: 100px;
  
}
button:hover {
  background-color: #cfcfcf
}
button:active {
  background-color: #b8dbea
}
#donutchart {
  display: flex;
  margin-left: 15%;
  
}
#text {
  display:flex;
  margin-left: 12%;
  color: white;
  font-family: "Arial";
  font-size: 24px;
  font-weight: bold;
}